body
{
	font-family : sans-serif;
	margin : 0;
	padding : 0;
	background : ivory;
}

#one
{
	padding : 10px;
	text-align : center;
	margin : 40px 0 30px;
	font-family : cursive;
}

.para
{
	color : chocolate;
	border-radius : 6px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	background : #FFEBCD;
	width : 50%;
	max-height : 1000px;
	min-height: 300px;
	padding : 5px;
	text-align : center;
	justify-content : center;
	align-items : center;
	margin : 50px auto;
}
.para p
{
	text-align : center;
	justify-content : center;
	align-items : center;
	padding : 30px;
	word-spacing : 0.9rem;
}

#ab
{
	background : crimson;
	color : #fff;
	text-decoration : none;
	padding : 10px 25px;
	border-radius : 5px;
	display : inline-block;
	margin : 0 auto;
}

.image
{
	text-align : center;
	align-items : center;
	justify-content : center;
	background: #FFDAB9;
}

h3
{
	color : forestgreen;
	margin : 10%;
	font-size : 40px;
	font-family : cursive;
	animation : type 3s steps(12);
	overflow : hidden;
	white-space : nowrap;
	border-right : 1px solid forestgreen;
	width : 43ch;
}

@keyframes type
{
	0%
{
	width : 0ch;
}
	350%
{
	width : 43ch;
}
}
		
.image img
{
	max-width : 20%;
	min-width : 20%;
	max-height : 30%;
	min-height : 20%;
	padding : 20px;
	transition : 1s;
	vertical-align: middle;
	transition: all 0.3s ease;
	margin : -50px 0 70px 100px;
	flex-direction : horizontal;
	box-shadow : 2px 2px 3px 10px black;
}

.image img:hover
{
	transform : scale(1.1);
}

.min
{
	margin-top : 100px;
	background : url('prlr/contact.jpg');
]